<!-- .cv -->
<div id="cv" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Research</h1> 

<div class="row">

   <!-- .cv-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Publications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5><span class="fa fa-file-alt"></span><span class="duration"><i class="fa fa-calendar color"></i>2020</span></h5>
                <p><b>C. Mills, <b>E. Parra</b>, J. Pantiuchina, G. Bavota, and S. Haiduc, “On the Relationship between Bug Reports and Queries for Text Retrieval-based Bug Localization”, in Empirical Software Engineering, 2020, p. To appear.</p>
            </li>
            <li>
                <h5><span class="fa fa-file-alt"></span><span class="duration"><i class="fa fa-calendar color"></i>2020</span></h5>
                <p><b>E. Parra</b>, A. Ellis, and S. Haiduc, “GitterCom: A Dataset of Open Source Developer Communications in Gitter,” in Proceedings of the 17th IEEE/ACM International Conference on Mining Software Repositories (MSR'20), Seoul, Republic of Korea, 2020, p. To appear.</p>
            </li>
            <li>
                <h5><span class="fa fa-file-alt"></span><span class="duration"><i class="fa fa-calendar color"></i>2020</span></h5>
                <p>R. Romero, <b>E. Parra</b>, and S. Haiduc, “AnswerMe - A Question Answering Bot for Gitter”, in Proceedings of the 2nd International Workshop on Bots in Software Engineering, Seoul, Republic of Korea, 2020, p. To appear.</p>
            </li>
            <li>
                <h5><span class="fa fa-file-alt"></span><span class="duration"><i class="fa fa-calendar color"></i>2018</span></h5>
                <p>C. Mills, J. Pantiuchina, <b>E. Parra</b>, G. Bavota, and S. Haiduc, “Are Bug Reports Enough for Text Retrieval-based Bug Localization?”, in Proceedings of the 34th IEEE International Conference on Software Maintenance and Evolution (ICSME’18), Technical Research Track, Madrid, Spain, 2018, p. 381-392 (12 pages). Acceptance Rate 21.2%. Received Distinguished Paper Award</p>
            </li>
            <li>
                <h5><span class="fa fa-file-alt"></span><span class="duration"><i class="fa fa-calendar color"></i>2018</span></h5>
                <p><b>E. Parra</b>, J. Escobar-Avila, and S. Haiduc, “Automatic Tagging for Software Engineering Videos”, in Proceedings of the 26th ACM/IEEE International Conference on Program Comprehension (ICPC’18), Gothenburg, Sweden, 2018, p. 222-232.</p>
            </li>
            <li>
                <h5><span class="fa fa-briefcase"></span><span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <p>J. Escobar-Avila, <b>E. Parra</b>, and S. Haiduc, “Text Retrieval-based Tagging of Software Engineering Video Tutorials”, in Proceedings of the 39th ACM/IEEE International Conference on Software Engineering (ICSE’17), Buenos Aires, Argentina, 2017, p. 341-343. </p>
            </li>
            <li>
                <h5><span class="fa fa-briefcase"></span><span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <p><b>E. Parra</b>, S. Haiduc, and R. James, “Making a Difference: An Overview of Humanitarian Free Open Source Systems”, in Proceedings of the 38th ACM/IEEE International Conference on Software Engineering (ICSE’16), Austin, TX, USA, 2016, p. 731-733. </p>
            </li>
            <li>
                <h5><span class="fa fa-briefcase"></span><span class="duration"><i class="fa fa-calendar color"></i> 2013</span></h5>
                <p>B. Sharif, G. Jetty, J. Aponte, <b>E. Parra</b>, “An Empirical Study Assessing the Effect of SeeIT 3D on Comprehension”, in Proceedings of the 1st IEEE International Working Conference on Software Visualization (VISSOFT 2013), Eindhoven, Netherlands, Sept. 27-28, 2013, pp.1-10. </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My CV</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_cv -->
        <a class="download" style="margin:0;float: left;" href="{{ site.baseurl2 }}/files/CV (Esteban Parra Rodriguez).pdf">
            <span data-hover="Download My CV"><i class="glyphicon glyphicon-download-alt"></i> Download My CV</span>
        </a>
        <!-- /.download_cv -->

    </div>
     <!-- /.cv-right -->
     
     
     
     <!-- .cv-left -->
    <div class="col-md-6 resume-left">    
        
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Ph.D. in Computer Science <span class="duration"><i class="fa fa-calendar color"></i> 2014 - Ongoing</span></h5>
                <h6><span class="fa fa-education"></span>Florida State University</h6>
                
            </li>
            <li>
                <h5>Bachelor of Engineering, <br> Systems and Computing<span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2014</span></h5>
                <h6><span class="fa fa-education"></span>Universidad Nacional de Colombia</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>IEEE TCSE Distinguished Paper Award<span class="duration"><i class="fa fa-calendar color"></i>September 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> 34th ACM/IEEE International Conference on Software Maintenance and Evolution (ICSME 2018)</h6>
            </li>
            <li>
                <h5>ACM/SIGSOFT CAPS Travel Award<span class="duration"><i class="fa fa-calendar color"></i>May 2016</span></h5>
                <h6><span class="fa fa-trophy"></span> 38th ACM/IEEE International Conference on Software Engineering (ICSE 2016)</h6>
            </li>
            <li>
                <h5>Outstanding Teaching Assistant<span class="duration"><i class="fa fa-calendar color"></i>Fall 2015</span></h5>
                <h6><span class="fa fa-trophy"></span> Computer Science Department, Florida State University</h6>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  

          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Service</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5> <span class="fa fa-users"></span> Student Volunteer at the 32nd IEEE International Conference on Software Maintenance and Evolution (ICSME’16), Raleigh, NC, October 8-10, 2016.</h5>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.cv-left -->
</div>

<div style="clear: both"></div>  

</div>
<!-- End .cv -->