<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
        
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Esteban Parra Rodriguez</div>
            <div class="clear"></div>
        </div>

           <ul class="about">

            <!-- <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value"></span>
                <div class="clear"></div>
            </li> -->

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Institution</label>
                <span class="value">Florida State University</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Address</label>
                <span class="value">Tallahassee, FL, USA</span>
                <div class="clear"></div>
            </li>

            <!-- <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>
        -->

        </ul>


        <p style="margin-bottom:20px">
            I am dedicated to research in the field of Software Engineering, focusing on approaches and techniques to support software developers in their daily tasks related to the creation, understanding, and maintenance of software systems.

            My main research topics are:
            <ul>
                <li>
                    <i class="fas fa-stroopwafel" style= "list-style-type: disc; list-style-position: inside; text-indent: -1em; padding-left: 1em;"></i> Applications of Information Retrieval and Natural Language Processing in Software Engineering</li>
                <li>
                    <i class="fas fa-stroopwafel"></i> Software maintenance and evolution</li>
                <li>
                    <i class="fas fa-stroopwafel"></i> Program comprehension</li>
                <li>
                    <i class="fas fa-stroopwafel"></i> Mining software repositories</li>
                <li>
                    <i class="fas fa-stroopwafel"></i> Empirical studies in Software Engineering</li>
                <li>
                    <i class="fas fa-stroopwafel"></i> Developer communications</li>
            </ul>
        </p>


        

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/profile.jpg" alt="" />
            <img src="images/img-profile/ICSE2016Poster.jpg" alt="" />
            <img src="images/img-profile/ICSE2017Poster.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service
<div class="clear"></div>
<div class="row" id="services">
    <div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services 1</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Making Money</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Easy to Customize</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Moving Let Us Help</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
     </div> 
</div>
-->
<!-- End Services -->


<div class="clear"></div>
</div>
<!-- End .profile