<!--.teaching -->
<div id="teaching" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Teaching </h1>
    <ul>
    <li>•   Object Oriented Programming (COP 3330, Undergraduate), Florida State University, Tallahassee, FL, USA (Spring 2018).</li>
    <li>•   Programming I (COP 3014, Undergraduate), Florida State University, Tallahassee, FL, USA (Spring 2018).</li>
    <li>•   Data Mining Applications in Software Engineering II (CIS 5093, Graduate), Florida State University, Tallahassee, FL, USA (Spring 2018).</li>
    <li>•   Software Engineering I (CEN 4020, Undergraduate), Florida State University, Tallahassee, FL, USA (Fall 2017).</li>
    <li>•   Software Engineering II (CEN 4021, Undergraduate), Florida State University, Tallahassee, FL, USA (Spring 2016).</li>
    <li>•   Software Engineering (CEN 5035, Graduate), Florida State University, Tallahassee, FL, USA (Fall 2015).</li>
    <li>•   Software Engineering II (2016702, Undergraduate), Universidad Nacional de Colombia, Bogotá, Colombia (Fall 2012, Spring 2013).</li>
    <li>•   Computer Vision (2016721, Undergraduate), Universidad Nacional de Colombia, Bogotá, Colombia (Spring 2013).</li>
</ul>

</div>
<!-- End .portfolio -->