<!--.teaching -->
<div id="teaching" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Teaching </h1>

    <div class="archive-item fadeInDown animated">
        <h2>2019</h2>
        <div>
            <article>
                <a title="Software Engineering I (CEN 4020, Undergraduate)"><i class="fas fa-chess-rook"></i> Software Engineering I (CEN 4020, Undergraduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Fall"> Fall </time>
                </div>
            </article>
            <article>
                <a title="Software Engineering I (CEN 4020, Undergraduate)"><i class="fas fa-chess-rook"></i> Software Engineering I (CEN 4020, Undergraduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Spring"> Spring </time>
                </div>
            </article>
        </div>
    </div>

    <div class="archive-item fadeInDown animated">
        <h2>2018</h2>
        <div>
            <article>
                <a title="Object Oriented Programming (COP 3330, Undergraduate)"><i class="fas fa-chess-rook"></i> Object Oriented Programming (COP 3330, Undergraduate)</a>
                <div class="post-date">
                  <time datetime="Fall"> Fall </time>
                </div>
            </article>
            <article>
                <a title="Object Oriented Programming (COP 3330, Undergraduate)"><i class="fas fa-chess-rook"></i> Object Oriented Programming (COP 3330, Undergraduate)</a>
                <div class="post-date">
                  <time datetime="Summer"> Summer </time>
                </div>
            </article>
            <article>
                <a title="Programming I (COP 3014, Undergraduate)"><i class="fas fa-chess-rook"></i> Programming I (COP 3014, Undergraduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Spring"> Spring </time>
                </div>
            </article>
            
            <article>
                <a title="Data Mining Applications in Software Engineering II (CIS 5093, Graduate)"><i class="fas fa-chess-knight"></i> Data Mining Applications in Software Engineering II (CIS 5093, Graduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Spring"> Spring </time>
                </div>
            </article>
        </div>
    </div>
    
    <div class="archive-item fadeInDown animated">
        <h2>2017</h2>
        <div>
           <article>
                <a title="Software Engineering I (CEN 4020, Undergraduate)"><i class="fas fa-chess-rook"></i> Software Engineering I (CEN 4020, Undergraduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Fall"> Fall </time>
                </div>
            </article>
        </div>
    </div>

    <div class="archive-item fadeInDown animated">
        <h2>2016</h2>
        <div>
            <article>
                <a title="Software Engineering II (CEN 4021, Undergraduate)"><i class="fas fa-chess-rook"></i> Software Engineering II (CEN 4021, Undergraduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Spring"> Spring </time>
                </div>
            </article>
        </div>
    </div>

    <div class="archive-item fadeInDown animated">
        <h2>2015</h2>
        <div>
            <article>
                <a title="Software Engineering (CEN 5035, Graduate)"><i class="fas fa-chess-knight"></i> Software Engineering (CEN 5035, Graduate), Florida State University, Tallahassee, FL, USA</a>
                <div class="post-date">
                  <time datetime="Fall"> Fall </time>
                </div>
            </article>
        </div>
    </div>

    <div class="archive-item fadeInDown animated">
        <h2>2013</h2>
        <div>
            <article>
                <a title="Computer Vision (2016721, Undergraduate)"><i class="fas fa-chess-rook"></i> Computer Vision (2016721, Undergraduate), Universidad Nacional de Colombia, Bogotá D.C., Colombia</a>
                <div class="post-date">
                  <time datetime="Spring"> Spring </time>
                </div>
            </article>

            <article>
                <a title="Software Engineering II(2016702, Undergraduate)"><i class="fas fa-chess-rook"></i>  Software Engineering II (2016702, Undergraduate), Universidad Nacional de Colombia, Bogotá D.C., Colombia</a>
                <div class="post-date">
                  <time datetime=""> Spring </time>
                </div>
            </article>
        </div>
    </div>

    <div class="archive-item fadeInDown animated">
        <h2>2012</h2>
        <div>
            <article>
                <a title="Software Engineering II"><i class="fas fa-chess-rook"></i> Software Engineering II (2016702, Undergraduate), Universidad Nacional de Colombia, Bogotá D.C., Colombia</a>
                <div class="post-date">
                  <time datetime="Fall"> Fall </time>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- End .portfolio -->